modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 20619
externalPort = 80

[[ports]]
localPort = 20620
externalPort = 3001

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb://aplicativoariuber:arineto811809@ac-ebpadlc-shard-00-00.8f4ec1q.mongodb.net:27017,ac-ebpadlc-shard-00-01.8f4ec1q.mongodb.net:27017,ac-ebpadlc-shard-00-02.8f4ec1q.mongodb.net:27017/?ssl=true&replicaSet=atlas-g2q7lm-shard-0&authSource=admin&appName=Cluster0"
MONGODB_DB = "DbSistemaCaronaParaunaMobi"
